.card {
    text-decoration: none !important;
}

.card img {
    border-radius: 5px;
}
.card p {
    max-width: 300px;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    color: black;
}
