.card div {
    display: flex !important;
}

.card {
    display: block;
    background-color: white;
    padding: 10px;
    border: 2px solid #bde0fe;
    border-radius: 5px;
    text-decoration: none !important;
}

.card:hover{
    filter: drop-shadow(0 0 0.75rem #bde0fe);
}

.card img {
    border-radius: 5px;
    margin-left: auto;
}
.card p {
    max-width: 180px !important;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    color: black;
}
